altgraph~=0.17.2
cycler~=0.11.0
fonttools~=4.38.0
kiwisolver~=1.4.2
macholib~=1.16
matplotlib~=3.7.0
modulegraph~=0.19.2
numpy~=1.24.2
packaging~=23.0
Pillow~=9.4.0
pyparsing~=3.0.8
PyQt6~=6.4.2
PyQt6-Qt6~=6.4.2
PyQt6-sip~=13.4.1
python-dateutil~=2.8.2
QtPy~=2.3.0
Shapely~=2.0.1
six~=1.16.0
